{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
        <div class= "container">
            <h1>{{ article.title }}</h1>
            <h5> Ingrédients </h5>
            <hr>
            <ul>
                {% set elements = article.content|split(',') %}
                {% for element in elements %}
                <li>{{ element|trim|raw }}</li>
                {% endfor %}
            <ul>
        </div>

{% endblock %}
