<div class="p-4 mb-3 rounded widget-about">
	<h4 class="fst-italic">A propos</h4>
	<p class="mb-0">Bienvenue chez Wama Foods, votre fenêtre vers la richesse gustative de la Tunisie ! Plongez dans un voyage culinaire en découvrant les saveurs authentiques et les traditions gastronomiques de ce magnifique pays. </p>
</div>
